.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table.learn-table,
.table-hover>tbody>tr:hover {
  color: white;
}

.quiz.footer .btn {
  display: inline-block;
  margin: 10px;
}

.character-display {
  text-align: center;
}

.panel {
  float: none;
  width: 50%;
  padding: 20px 20px 2px 20px;
  background: #efefef;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
  background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  /* -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15); */
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  margin: 0 auto;
  color: black;
}

.panel h1 {
  font-size: 140px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
